* {
  box-sizing: border-box;
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;

  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--black);
}

h1 {
  margin-top: 100px;
  text-align: center;
}

form {
  width: 400px;
}

/* Code for exercise 01-navbar */
.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: var(--black);
}

.navbar_List {
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
}

.ListingLink {
  display: inline-block;
  /*padding: 0.5em 1em;*/
}

.ListingLink_link {
  text-decoration: none;
  color: var(--white);
  padding: 20px;
  display: block;
}

.ListingLink_link:hover {
  background-color: var(--violetred);
}

/* Code for exercise 02-cards */
.deck {
  text-align: center;
}

.card {
  display: inline-block;
  width: 350px;
  border-style: solid;
  border-color: var(--gray);
  padding: 20px;
}

.card_button {
  padding: 10px 50px;
  background-color: var(--black);
  color: var(--white);
}

.card_button:hover {
  background-color: var(--violetred);
}

/* Code for exercise 03-table */
.TvListing {
  margin-left: auto;
  margin-right: auto;
}

.TvListing_head {
  background-color: var(--black);
  color: var(--white);
  width: 200px;
  height: 50px;
  font-weight: bold;
}

.TvListing_Row {
  height: 40px;
}

.TvListing_Row:hover {
  background-color: var(--orange);
}

td {
  border: 1px solid var(--black);
}

.channel {
  text-align: center;
  background-color: var(--violetred);
  color: var(--white);
  font-weight: bold;
}

td:not([class]) {
  padding-left: 10px;
}

/* Code for exercise 04-form */
.SignUpForm {
  border: solid;
  border-color: var(--gray);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.form-header {
  height: 10px;
}

.form-p {
  font-size: small;
}

.SignUpForm_question {
  padding: 5px;
}

.SignUpForm_label {
  display: inline-block;
  width: 130px;
  font-weight: bold;
}

.PronsFieldset {
  border: none;
  padding: 0;
}

.PronsFieldset_legend {
  font-weight: bold;
}

.PronsFieldset_label {
  display: block;
}

.SignUpForm_input {
  width: 150px;
  float: right;
}

.SignUpForm_submit {
  background-color: var(--black);
  color: var(--white);
  width: 150px;
  height: 30px;
}

.SignUpForm_reset {
  display: inline-block;
  width: 150px;
  height: 30px;
}

.SignUpForm_submit:hover {
  background-color: var(--violetred);
}

.SignUpForm_reset:hover {
  background-color: lightgray;
}
