* {
  box-sizing: border-box;
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;

  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--black);
}

h1 {
  margin-top: 100px;
  text-align: center;
}

form {
  width: 400px;
}

/* Code for exercise 01-navbar */
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: var(--black);
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 0.5em 1em;
}

nav ul li:hover {
  background-color: var(--violetred);
}

nav ul li a {
  text-decoration: none;
  color: var(--white);
}

/* Code for exercise 02-cards */
.deck {
  text-align: center;
}

div[class^="card"] {
  display: inline-block;
  width: 350px;
  height: 550px;
  border-style: solid;
  border-color: var(--gray);
}

button {
  padding: 10px 50px;
  background-color: var(--black);
  color: var(--white);
}

button:hover {
  background-color: var(--violetred);
}

/* Code for exercise 03-table */
table {
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: var(--black);
  color: var(--white);
  width: 200px;
  height: 50px;
  font-weight: bold;
}

tr {
  height: 40px;
}

tr:hover {
  background-color: var(--orange);
}

td[class="channel"] {
  text-align: center;
  background-color: var(--violetred);
  color: var(--white);
  font-weight: bold;
}

td:not([class]) {
  padding-left: 10px;
}

/* Code for exercise 04-form */
